.container {
  
}

.main {
  
}

.hero {
  padding: 140px 6em 270px;
  max-width: 1600px;
  margin: 0 auto;
}

.heroSub {
  font-size: 1.3em;
  max-width: 580px;
  padding: 0;
  margin: 1.3em 0 0;
  color: #656270;
  line-height: 1.7;
}

.heading {
  font-size: 6.5em;
  letter-spacing: -3px;
  color: #232320;
  font-family: Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
  line-height: 110%;
  margin: 0;
}

